.join-panel {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 2;
    gap: var(--space-m);
    padding: 20px 24px;
    background: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-m);
}

.join-panel-title {
    font-size: 0.9rem;
    font-weight: var(--font-weight-extra-bold);
    color: var(--color-text-muted);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.button-group {
    --cluster-wrap: nowrap;

    align-items: stretch;
}

.button-group * input {
    margin: 0;
}

.button-group * input:focus {
    border-color: var(--color-accent-turquoise);
}

.button-group * input::placeholder {
    font-family: var(--font-family-space-mono);
    font-size: 0.7rem;
    letter-spacing: 3px;
}

.button-group * label {
    display: none;
}

.join-button {
    height: 45px;
    font-weight: var(--font-weight-black);
    background: var(--color-accent-turquoise);
}

@media screen and (width <= 900px) {
    .join-panel-title {
        flex: 1;
    }

    .join-panel {
        --grid-min-item-size: 10rem;
    }
}

@media screen and (width <= 600px) {
    .join-panel {
        grid-column: span 2;
    }
}
