.input-row {
    --cluster-wrap: nowrap;
    --cluster-vertical-alignment: flex-start;
}

.icon-image {
    max-width: 60px;
}

.submit-button {
    margin-top: var(--space-s);
    background: var(--color-accent-yellow);
}

form :is(input) {
    margin-bottom: var(--space-xs);
}
