#
# APP
#
NODE_ENV=development
PORT=3001
HOST=0.0.0.0
#
# DATABASE
#
DB_CONNECTION_STRING=mongodb://mongo:27017/db-name


#
# ENCRYPTION
#
SALT_SIZE=32

#
# JWT TOKEN
#
JWT_SECRET_KEY = your-secret-key-here
JWT_ENCRYPTION = your-encryption-algorithm-here
JWT_EXPIRATION = your-token-expiration-here

#
# JWT TOKEN EXAMPLE
#
# You need to generate your own key, or use this one for testing purposes
JWT_SECRET_KEY = 74e5c73822a3996da0ad3690e9782f66627b4e4831192316a99a7821c610b2f13b03fe5148e732c43d44285c451e580e1adec1af2453abfd146f2a6a2312c81e
JWT_ENCRYPTION = HS256
JWT_EXPIRATION = 1d
