.wrapper {
    width: 100%;
    height: 100%;
    background: var(--gradient-surface-dark);
}

.moon {
    position: absolute;
    top: -100px;
    left: -300px;
    width: 900px;
    height: 900px;
    content: "";
    background: var(--gradient-surface-light);
    border-radius: var(--radius-full);
}

.moon-crater {
    position: absolute;
    content: "";
    background: var(--gradient-surface-light-accent);
    border-radius: var(--radius-full);
    opacity: var(--opacity-60);
}

.moon-crater-medium {
    top: 250px;
    left: 500px;
    width: 60px;
    height: 180px;
}

.moon-crater-small {
    top: 650px;
    left: 340px;
    width: 40px;
    height: 80px;
    transform: rotate(55deg);
}

.moon-crater-large {
    top: -20px;
    left: 40px;
    width: 65px;
    height: 120px;
    transform: rotate(250deg);
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    content: "";
    background: grey;
    border-radius: 100%;
    opacity: 0.4;
    transform: rotate(250deg);
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shimmer {
    from {
        opacity: 0;
    }

    to {
        opacity: var(--button-opacity);
    }
}

.star-fast {
    top: 60%;
    left: 90%;
    animation-delay: 3s;
}

.star-medium {
    top: 10%;
    left: 70%;
    animation-delay: 2s;
}

.star-slow {
    top: 90%;
    left: 40%;
    animation-delay: 1s;
}

.star-very-slow {
    top: 20%;
    left: 40%;
    animation-delay: 0.5s;
}

.error {
    position: absolute;
    top: 400px;
    left: 100px;
    font-family: Righteous, cursive;
    color: var(--color-text-accent);
    transform: translateY(-60%);
}

.error-title {
    font-size: var(--space-2xl);
}

.error-subtitle {
    font-size: var(--space-xl);
}

.error-description {
    opacity: var(--button-opacity);
}

@media screen and (width <= 1024px) {
    .star {
        display: none;
    }
}

@media screen and (width <= 320px) {
    .error {
        left: 50px;
    }
}
