@import url("~/assets/css/animations.css");

.racer-wpm {
    width: 48px;
    font-family: var(--font-family-space-mono);
    font-size: 11px;
    text-align: right;
}

.racer-progress {
    flex: 1;
    height: 6px;
    overflow: hidden;
    background: var(--surface-inline);
    border-radius: 3px;
}

.racer-progress-fill {
    height: 100%;
    border-radius: 3px;
    transition: width 1s ease;
    animation: progress 2s ease-in-out infinite alternate;
}

.racer-name {
    width: 70px;
    font-family: var(--font-family-space-mono);
    font-size: 11px;
    color: var(--color-text-muted);
}

[data-rank="1"] {
    --rank-color: var(--color-accent-turquoise);
    --from: 70%;
    --to: 90%;
}

[data-rank="2"] {
    --rank-color: var(--color-accent-yellow);
    --from: 55%;
    --to: 75%;
}

[data-rank="3"] {
    --rank-color: var(--color-accent-red);
    --from: 40%;
    --to: 60%;
}

[data-rank] {
    color: var(--rank-color);
}

[data-rank] .racer-progress-fill {
    background: var(--rank-color);
}
