.player-row {
    align-self: stretch;
    padding: var(--space-s);
    background: var(--surface-inline);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-s);

    --cluster-direction: row;
}

.player-row.ready {
    background: color-mix(
        in srgb,
        var(--color-accent-turquoise),
        transparent 97%
    );
    border-color: color-mix(
        in srgb,
        var(--color-accent-turquoise),
        transparent 70%
    );
}

.row-name {
    flex: 1;
    font-size: var(--step-minus-4);
    font-weight: var(--font-weight-extra-bold);
    color: var(--color-text-main);
}

.row-status {
    font-family: var(--font-family-space-mono);
    font-size: var(--step-minus-4);
    text-transform: uppercase;
}

.row-status.not-ready > div {
    background: var(--color-text-muted);
    animation: none;
}

.row-status.ready {
    color: var(--color-accent-turquoise);
}
