.card-header-icon {
    animation: idle 3s ease-in-out infinite;
}

.lobby-card-wrapper {
    --cluster-direction: column;

    gap: var(--space-m);
}

.card-header-title {
    font-weight: var(--font-weight-extra-bold);
    color: var(--color-text-main);
    letter-spacing: -0.5px;
}

.card-header-subtitle {
    font-family: var(--font-family-space-mono);
}

.subtitle-room-name {
    color: var(--color-accent-yellow);
}

.card-actions,
.card-players {
    align-self: stretch;
}

.actions-ready-button {
    background: var(--color-accent-yellow);
}

.actions-hint {
    margin-top: var(--space-s);
    font-family: var(--font-family-space-mono);
    font-size: var(--step-minus-4);
    text-align: center;
}

.card-header-countdown {
    font-size: var(--step-7);
    color: var(--color-accent-yellow);
}

@keyframes idle {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}
