@supports (font-variation-settings: normal) {
    @font-face {
        font-family: Syne;
        font-style: normal;
        font-weight: 400 800;
        src: url("../fonts/Syne-VariableFont_wght.ttf")
            format("truetype-variations");
    }
}

@font-face {
    font-family: SpaceMono;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: SpaceMono;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
}
